*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    flex-direction: row;
    flex-wrap: wrap;
}

.menu{
    background: linear-gradient(90deg, #606060, hsl(0, 0%, 4%));
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    align-items: center;
}

.menu img{
    padding-left: 0.5rem;
}
.menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

h1{
    padding: 2rem;
    font-style: italic;
    color: white;
    font-family: "Londrina Sketch";
    font-size: 3.5em;
}

.menu li{
    padding: 2rem;
}

.menu a{
    text-decoration: none;
    color: white;
    font-family: "Londrina Sketch";
    font-size: 1.7em;
}

.menu a:hover{
 color: blue;
 font-size: 1.9em;
}


#Actual{
    color: rgb(88, 88, 251) !important;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.225);
    
}
html {
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#00000000 72%;
    background: 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
  }
main{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
}

.menu-secundario{
        background: linear-gradient(180deg, #dcdcdce7, hsla(0, 0%, 0%, 0));
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        border-top: solid 1px white;
        border-bottom: solid 1px white;
}

.menu-secundario ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.menu-secundario li{
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu-secundario a{
    text-decoration: none;
    color: black;
    font-family: "Permanent Marker";
    font-size: 1.3em;
}

.menu-secundario a:hover{
    color: blue;
    font-size: 1.5em;
   }

.piepag{
    background-color: black;
    display: flex;
    color: white;
    font-size: 1em;
    font-style: italic;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    width: 100%;
    position: relative;
}

#producto_prime{
    text-decoration: none;
    color: rgb(88, 88, 251);
    font-family: "Londrina Sketch";
    font-size: 2.5em;
    padding: 1em;
    font-style: italic;
    margin-top: 0.5;
}

.articulo img{
    width: 50%;
}

#tituloart{
    padding-top: 20px;
    font-style: italic;
    font-family: "Londrina Sketch";
    font-size: 3em;
    color: blue;
}

.articulo h4{
    font-size: 2em;
    font-family: "Londrina Sketch";
    text-align: center;
    color: blue;
}

.ContenedorCartas{
    display: grid;
    padding: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.carta{
    color: white;
    justify-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url('img/FondoAsaide.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
}

.carta h5{
    margin-top: 0.4em;
    margin-left: 0.3em;
    display: inline-block;
    font-family: "Londrina Sketch";
    color: white;
    font-size: 2.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    text-align: center;
}



.carta picture img{
    border: 2px solid white;
}

.carta picture{
  padding-top: 0.5em;
  margin: auto;
}

.PieCarta{  
    padding: 0.3em;
    margin-top: 1em;
    border-top: 1px solid black;
    background-image: url('img/FondoCarta5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(145, 152, 247);
    font-family: "Permanent Marker";
    font-size: 1.3em;
    text-align: center;
    border-radius: 10px;
   }

.carta:hover{
    border: 1px solid blue;
    justify-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-image: url('img/FondoCarta06.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: black;
 }


 .ContenedorApartados{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: auto;
 }

.Tags{
    background-color: silver;
    display:inline-block;
    margin: 1em;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url('img/FondoAsaide2.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Genero{
    font-size: 1.5em;
    font-family: "Permanent Marker";
    color: white;
    padding: 0.4em;

}

#Genero:hover{
    color: rgb(88, 88, 251);
    font-size: 1.7em;
}

.TagsTitulo{
    background-image: url('img/FondoCarta5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(145, 152, 247);
    font-family: "Permanent Marker";
    font-size: 2.6em;
    text-align: center;
    padding: 0.3em;
    margin-bottom: 1.1em;
    border-radius: 10px;
    border-bottom: 1px solid black;
}


.Publicidad{
    background-color: silver;
    display:inline-block;
    padding: 2.5em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    margin: 1em;
    justify-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url('img/FondoAsaide2.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
}

.Publicidad picture img{
    width: 17em;
    height: auto;
    border: 1px solid white;
}

.CartasAbajo{
    display: grid;
    padding: 20px;
    background-color: silver;
    grid-template-columns: repeat(6,1fr);
    margin: 1em;
    margin-top: 6em;
    margin-bottom: 6em;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 10px;
    background-image: url('img/FondoOtraCarta.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.OtraCarta{
    color: white;
    display: grid;
    margin: auto;
    text-align: center;
    gap: 1em;
}

.OtraCarta img{
    width: 9.5em;
    border: 2px solid white;
    border-radius: 10px;
}

.OtraCarta img:hover{
    border: 3px solid blue;
    border-radius: 10px;
}

.OtraCarta picture{
    justify-content: center;
    justify-items: center;
}